* {
  box-sizing: border-box;
}
.hero {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  object-fit: cover;
  opacity: 0.7;
}
.hero-body {
  height: 100vh;
  display: flex;
  align-items: flex-start;
}
.heading {
  font-size: 48px;
  font-weight: bold;
}
.sub-heading {
  font-size: 22px;
  font-weight: 300;
}
.left {
  position: relative;
  z-index: 9999;
}

@media (max-width: 576px) {
  .heading {
    font-size: 28px;
    font-weight: bold;
    margin-top: 40px;
  }
  .sub-heading {
    font-size: 16px;
    font-weight: 400;
  }
  .hero {
    opacity: 0.5;
    height: 120px;
    width: 100%;
  }

  .hero-body {
    display: block;
  }

  #page1 {
    margin-top: -50px !important;
  }

  #page2 {
    margin-top: -15px !important;
  }

  #page3 {
    margin-top: -60px !important;
  }
  #page4 {
    margin-top: -110px !important;
  }
  #page6 {
    margin-top: -130px !important;
  }

  #page5 {
    margin-top: -240px !important;
  }

  .btn {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (min-width: 576px) {
  #page4 {
    margin-top: -0px !important;
  }
  #page2 {
    margin-top: 45px !important;
  }

  #page3 {
    margin-top: -50px !important;
  }

  #page4 {
    margin-top: -120px !important;
  }
  #page6 {
    margin-top: -120px !important;
  }

  #page5 {
    margin-top: -80px !important;
  }
}
.rad {
  /* Menyembunyikan radio button */
  visibility: hidden;
  position: absolute;
}
.rad + .ico {
  /* style gambar */
  cursor: pointer;
  width: 60px;
  border: 2px solid transparent;
  padding: 5px;
}
.rad:checked + .ico {
  /* (RADIO CHECKED) style gambar */
  border-radius: 10px;
  border: 2px solid rgb(216, 72, 103);
}

.jjk {
  display: inline-block;
  margin-right: 20px;
}

.jk-text {
}

.page-2,
.page-3,
.page-4,
.page-5,
.page-6,
#next2,
#next3,
#next4,
#next6,
#send,
#siangmalam,
#tempatbeli,
#localimpor,
#jenisdibutuhkan,
#facialwashs,
#toners,
#creams,
#serum,
#merkataubanyak,
#budgetbulanan {
  display: none;
}

.image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid transparent;
  outline: 0;
}

.image-checkbox input[type="checkbox"] {
  display: none;
}

.image-checkbox-checked {
  border-color: #f58723;
}

.ul1 {
  list-style-type: none;
  width: 100%;
}

.li1 {
  display: inline-block;
  width: 30%;
}

.merkpakai,
.dengar {
  display: none;
}

.lbl1 {
  border: 1px solid #fff;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lbl1::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.lbl1 img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .lbl1 {
  border-color: #ddd;
}

:checked + .lbl1::before {
  content: "✓";
  z-index: 5;
  background-color: grey;
  transform: scale(1);
}

:checked + .lbl1 img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}
